/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li {
    list-style-type: none;
}
body {
    font-family: 'Lato', sans-serif;
}
/* layout */
.app-wrapper {
    width: 100%;
    height: 100vh;
    min-width: 900px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-container {
    width: 80%;
    height: 95%;
}
.clearfix {
    display: table;
    clear: both;
    content: '';
}
/* fine layout */
/* general settings */
img {
    width: 100%;
}
/* app left */
.main-left {
    /* width: 35%; */
    width: 350px;
    height: 100%;
    float: left;
}
/* for header left and right */
.col-heading {
    height: 70px;
    width: 100%; 
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.col-heading img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.col-heading li {
    list-style-type: none;
    display: inline-block;
    margin: 0 7px;
}
.col-heading a {
    color: #b1b1b1;
}
.col-heading h3 {
    font-size: 15px;
}
.col-heading span {
    font-size: 13px;
    color: #bcbfc1;
}
.avatar-text {
    flex-grow: 1;
    padding-left: 10px;
}
/* end headers settings */

.notifications {
    height: 80px;
    background-color: #8edafc;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b424c;
}
.notifications i {
    font-size: 20px;
    text-align: center;
    color: #8edafc;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    margin-right: 10px;
}
.notifications-text a {
    font-size: 13px;
    color: #4f7485;
}
.search {
    height: 50px;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search i {
    /* margin-right: 10px; */
    font-size: 20px;
    display: inline-block;
    color: #bcbfc1;
}
.search input {
    margin-left: 20px; 
    border: 0;
    height: 50%;
    width: 220px;
}
input[type="text"]::-webkit-input-placeholder {
    font-size: 14px;
}
.contacts-list {
    width: 100%;
    height: calc(100% - 200px);
    background-color: #eaeaea;
    overflow-y: scroll;
}
.contacts-item {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 13px;
}
.contacts-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contacts-item span {
    color: #bcbfc1;
}
.contacts-text {
    flex-grow: 1;
    padding-left: 10px;
}
/* app right */
.main-right {
    /* width: 65%; */
    width: calc(100% - 350px);
    height: 100%;
    float: left;
}
/* messages area */
.message-table {
    background-image: url('../img/wallpaper.jpg');
    width: 100%;
    height: calc(100% - 140px);
    overflow-y: scroll;
}
.input-text {
    height: 70px;
    width: 100%; 
    background-color: #f3eeea;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.input-text i {
    color: #757575;
    margin: 0 20px;
}
.input-text input {
    height: 35px;
    flex-grow: 1;
    border: 0;
    border-radius: 30px;
    padding-left: 20px;
}
.message {
    padding: 15px 80px 15px 10px;
    display: inline-block;
    border-radius: 10px;
    margin: 10px 15px;
    clear: both;
    position: relative;
}
.sent {
    background-color: lightgreen;
    float: right;
}
.received {
    background-color: #fff;
    float: left;
}
.message span {
    position: absolute;
    bottom: 3px;
    right: 8px;
    font-size: 10px;
    color: #757575;
}
.message .fa-chevron-down {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer; 
}
.active {
    display: flex!important;
}
#template {
    display: none;
}
#template-received {
    display: none;
}
.with-drop {
    display: none;
    background-color: #fff;
    position: absolute;
    flex-direction: column;
    position: absolute;
    padding: 8px;
    font-size: 13px;
    width: 90px;
    right: 30%;
    top: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.with-drop li {
    color: #b1b1b1;
    text-decoration: none;
    cursor: pointer;
}
.with-drop li:hover {
    color: #000;
}