* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app-wrapper {
    width: 100%;
    height: 100vh;
    min-width: 900px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-container {
    background-color: lightgray;
    width: 80%;
    height: 95%;
}
/* app left */
.main-left {
    /* width: 35%; */
    width: 350px;
    height: 100%;
    background-color: lightpink;
    float: left;
}
.notifications {
    height: 80px;
    background-color: darkcyan;
    width: 100%;
}
.search {
    height: 50px;
    background-color: darkred;
    width: 100%;
}
.contacts-list {
    width: 100%;
    height: calc(100% - 200px);
    background-color: yellow;
    overflow-y: scroll;
}
/* app right */
.main-right {
    /* width: 65%; */
    width: calc(100% - 350px);
    height: 100%;
    background-color: orange;
    float: left;
}
.col-heading {
    height: 70px;
    width: 100%; 
    background-color: gray;
}
.message-table {
    background-color: orangered;
    width: 100%;
    height: calc(100% - 140px);
}
.input-text {
    height: 70px;
    width: 100%; 
    background-color: darkorange;
}